.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}

.login{
    background-color: #c4c4c4;
    width: 450px;  
}

.form{
    padding: 25px 30px;
    margin-top: 5rem;

    header{
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid #e6E6E6;
    }
}

.form form{
    margin: 20px 0;

    .error-text{
        color: #721C24;
        background: #f8D7DA;
        padding: 8px 10px;
        text-align: center;
        margin-bottom: 10px;
        border: 1px solid #f5C6CB;
        display: none;
    }

    .nameDetails{
        display: flex;
    }
}

.form form .nameDetails .inputField:first-child{
    margin-right: 10px;
}

.form form .nameDetails .inputField:last-child{
    margin-left: 10px;
}

form form .inputField label{
    margin-bottom: 2px;
}

.form form .inputField{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    input{
        outline: none;
        height: 40px;
        width: 100%;
        font-size: 16px;
        padding: 0 10px;
        border-radius: 1px solid #ccc;
        border-radius: 5px;
    }
}

.form form .inputImage input{
    font-size: 17px;
    margin-bottom: 10px;
}

.form form .buttonField input{
    margin-top: 13px;
    height: 43px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
    a{
        color: #333;
    }
}  

.form .linkLost{
    a{
        color: #333;
    }
}