.users{
    background-color: #22335F;
}

.ville{
    color: #fff;
    margin-left: 10px;
}

.infoUser{
    color: #fff;
    display: grid;
    margin: 10px;
}

.comment{
    color: #fff;
    padding: 5px 0;
}

.btnInfo{
    color: #fff;
    font-weight: bold;
    a{
        color: #fff;
    }

    a:visited{
        color: #fff;
    }
}