label{
    color: #fff;
    margin: 10px;
    
}

.niveau, .commentaire, .perimetre{
    padding: 10px 0;
}

.wrapper .users h1{
    text-align: center;
    color: #fff;
}

#valBox{
    color: #fff;
}

.commentaire{
    margin-top: 10px;
    font-size: 1.125rem;
}

.textCommentaire, .commentaire{
    text-align: center;
}

.button input{
    margin: 10px auto;
}
