@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;600;800&display=swap');


$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

@include font("FinlandRounded","FinlandRounded-Thin", "100", "normal");