// Colors
$black : #000;
$white : #fff;


$greyDark : #1e1e1e;
$green : #00ff75;
$jungle-green: #36a585;
$lightGrey : #faf9f9;
$yellow : #ffd202;

$greyish-brown: #4a4a49;
$couleurs-bleu-logo: #26336e;
$couleurs-gris-bleu-clair: #f4f5f9;
$rouge: #b62040;
$dark-slate-blue: #132f4a;
$couleurs-gris-logo: #c5c6cc;
$battleship-grey: #7b7c83;
$couleurs-bleu-clair: #00adee;
$couleurs-noir: #1e1e1e;
$couleurs-bleu-plaquette: #00538f;
$couleurs-bleuclair-over: #39c8fe;

$color-main: $greyish-brown;
$color-alt: $couleurs-bleu-logo;

$text-color-main: $color-main;
$text-color-alt: rgba(0,0,0,0.8);


